@import "toastr";

// your-app.scss
body {
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    scroll-behavior: smooth;
  }
  .swal2-styled.swal2-confirm {
    // border: 0;
    // border-radius: .25em;
    // background: initial;
    background-color: #2563eb;
    // color: #fff;
    // font-size: 1em;
}
div:where(.swal2-container) .swal2-html-container{
    color: #b1efff !important;
}


  @import "@sweetalert2/theme-borderless/borderless.min.css";