@import "toastr";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css";
// your-app.scss
body {
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    scroll-behavior: smooth;
  }
  .txtfont{
    font-family: 'Kanit', sans-serif;
    font-weight: 400;    
  }
  .swal2-styled.swal2-confirm {
    // border: 0;
    // border-radius: .25em;
    // background: initial;
    background-color: #2563eb;
    // color: #fff;
    // font-size: 1em;
}
div:where(.swal2-container) .swal2-html-container{
    color: #b1efff !important;
}.toast-info {
  background-color: #2f95b44d;
}


  @import "@sweetalert2/theme-borderless/borderless.min.css";