body {
    background-color: #1d1d1d;
    margin: 0;
    padding: 0;
  }
.wrapper {
    display: flex;
    // height: 100vh;
    justify-content: center;
    align-items: center;
  }
  
  .wrapper h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: #540032;
  }
  
  .title {
    background-image: url(images/dpbg.png);
    background-attachment: fixed;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }