---
---

<!-- svelte-ignore a11y-no-noninteractive-tabindex -->
<div class="collapse bg-base-200">
  <div class="collapse-title text-xl font-medium">
    <span>ผู้ใช้งาน</span>
    <div class="flex">
      <div class="stat place-items-center">
        <div class="stat-title text-info">จำนวนสมาชิก</div>
        <div class="stat-value">100</div>
      </div>
      <div class="stat place-items-center">
        <div class="stat-title text-success">สมาชิกใหม่</div>
        <div class="stat-value">31K</div>
        <div class="stat-desc">↗︎ 400 (22%)</div>
      </div>
    </div>
  </div>
</div>
<!-- svelte-ignore a11y-no-noninteractive-tabindex -->
<div class="collapse bg-base-200">
  <div class="collapse-title text-xl font-medium">
    <span>Dolphine บล็อก</span>
    <div class="flex">
      <div class="stat place-items-center">
        <div class="stat-title">ยอดการเข้าชม</div>
        <div class="stat-value">31K</div>
        <div class="stat-desc">From January 1st to February 1st</div>
      </div>
      <div class="stat">
        <div class="stat-title">การถูกใจ</div>
        <div class="text-2xl text-secondary">
          25.6K
          <span class="text-secondary">
            <i class="fa-solid fa-heart"></i>
          </span>
        </div>
        <div class="stat-desc">21% more than last month</div>
      </div>
    </div>
  </div>
</div>
<!-- svelte-ignore a11y-no-noninteractive-tabindex -->
<div class="collapse bg-base-200">
  <div class="collapse-title text-xl font-medium">
    <span>รายการสินค้า</span>
    <div class="flex">
      <div class="stat place-items-center">
        <div class="stat-title">จำนวนสินค้า</div>
        <div class="stat-value">10</div>
      </div>
      <div class="stat place-items-center">
        <div class="stat-title">ขายไปแล้ว</div>
        <div class="stat-value">31K</div>
        <div class="stat-desc">From January 1st to February 1st</div>
      </div>
    </div>
  </div>
</div>

<!-- svelte-ignore a11y-no-noninteractive-tabindex -->
<div class="collapse bg-base-200" onclick="Redeem.showModal()">
  <div class="collapse-title text-xl font-medium">
    <span>โค๊ด Redeem</span>
    <div class="flex">
      <div class="stat place-items-center">
        <div class="stat-title">จำนวนโค๊ด</div>
        <div class="stat-value">10</div>
      </div>
      <div class="stat place-items-center">
        <div class="stat-title">แลกรับไปแล้ว</div>
        <div class="stat-value">31000K</div>
        <div class="stat-desc">From January 1st to February 1st</div>
      </div>
    </div>
  </div>
</div>
