<div class="overflow-x-auto">
    <table class="table">
      <!-- head -->
      <thead>
        <tr>
          <th>จำนวนเงินขั้นต่ำ</th>
          <th>โบนัส</th>
          <th>จัดการ</th>
        </tr>
      </thead>
      <tbody>
        <!-- row 1 -->
        <tr>
          <td>Cy Ganderton</td>
          <td>Quality Control Specialist</td>
          <td>
            
            <div class="join gap-2">

            <div class="btn btn-warning">แก้ไข</div>
          <div class="btn btn-error">ลบ</div>
        </div>
        
        
        </td>
        </tr>
      </tbody>
    </table>
  </div>