<div class="stats bg-primary text-primary-content">
  <div class="stat">
    <div class="stat-title">จำนวนเงิน</div>
    <div class="stat-value">$500</div>
    <div class="stat-actions">
      <button class="btn btn-sm">เปลี่ยน</button>
    </div>
  </div>
  <div class="stat">
    <div class="stat-title">โบนัส</div>
    <div class="stat-value">15%</div>
    <div class="stat-actions">
      <button class="btn btn-sm w-full">เปลี่ยน</button>
    </div>
  </div>
  <div class="stat">
    <div class="stat-title">สถานะ</div>
    <div class="stat-value">แสดง</div>
    <div class="stat-actions">
      <button class="btn btn-sm w-full">เปลี่ยน</button>
    </div>
  </div>

  <div class="stat">
    <div class="stat-title">จัดการ</div>
    <div class="stat-actions">
      <div class="join join-vertical gap-2">
        <button class="btn btn-warning">แก้ไข</button>
        <button class="btn btn-error">ลบ</button>
      </div>
    </div>
  </div>
</div>
