---
import "../styles/base.scss";
// import Btm from "../sections/bottom.astro";
import Navtop from "../sections/admin/Navtop.astro";
import DevDashboard from "../sections/admin/DevDashboard.svelte";
// import Sandbox from "../sections/admin/Sandbox.astro";
// import Sandbox3 from "../sections/admin/Sandbox3.svelte";
import Fire from "../sections/admin/Fire.astro";
import RedeemCodesBox from "../sections/admin/components/RedeemCodes.svelte";

import ShopItemBox from "../sections/admin/components/Shopitem.svelte";
import AddshopItemBox from "../sections/admin/components/Addshopitem.svelte";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Dolphine</title>
    <link rel="icon" type="image/png" href="images/DPicon.png" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Kanit"
    />
  </head>

  <main data-theme="dark" class="bg-base-300">
    <Navtop />
    <div class="container mx-auto text-center h-[100dvh]">
      <DevDashboard client:visible />
      <!-- <Sandbox /> -->
      <!-- <Sandbox3 client:only /> -->
      <div class="pt-4"></div>
      <!-- <Fire /> -->

      <div class="grid md:grid-cols-4 gap-3">
        <!-- <DevDashboard /> -->
      </div>
    </div>
    <ShopItemBox client:visible />
    <RedeemCodesBox client:only="svelte" />
    <AddshopItemBox client:visible />
  </main>


</html>
