---
import "../styles/base.scss";
import DPSection from "../sections/dolphine.svelte";
import Navbar from "../sections/top.svelte";
import Btm from "../sections/bottom.astro";
import Loader from "sections/admin/components/Loader.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Dolphine</title>
    <link rel="icon" type="image/webp" href="images/DPicon.webp" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    /> -->
    <!-- <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Kanit"
    /> -->
    <script>
      import "@fontsource/kanit";
    </script></head
  >

  <main data-theme="dark" class="bg-base-300">
    <Loader />

    <Navbar client:only="svelte" />
    <DPSection client:only="svelte" />
    <Btm Showfooter="false" />
  </main>


</html>
