---
import Navbar from "../sections/top.svelte";
import Cards from "../sections/cards.svelte";
// import SSRCards from "../sections/cardsfull.astro";

import Slides from "../sections/slides.astro";
import Alerts from "../sections/alerts.astro";
import Qsc from "../sections/quickshrtcut.astro";
import Btm from "../sections/bottom.astro";
// import Blogs from "../sections/blogs.astro";
// import Cheri from '../sections/cheri.svelte';
import Intro from "../sections/intro.astro";
import "../styles/base.scss";

import Shopinfo from "../components/Shopinfo.svelte";
import Btncf from "../components/buyshopitem.svelte";

let logoimg = "images/dpchan1.webp";
// let bgimg = "images/Cardsecbg.webp";

// import Apitest from '../sections/apitest.astro';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dolphine</title>
    <link rel="icon" type="image/webp" href="images/DPicon.webp" />
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />

    <!-- <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Kanit"
    /> -->

    <meta property="og:title" content="Dolphine!" />
    <meta property="og:description" content="เว็บไซต์ของ Dolphine" />
    <meta property="og:image" content={logoimg} />
    <meta property="og:url" content="http://dolphine.servegame.com/" />
    <meta property="og:type" content="website" />
    <script>
      import "@fontsource/kanit";
    </script>
  </head>

  <main
    data-theme="kpz"
    class="origin bg-no-repeat bg-cover"
    style="background-image: url('images/Cardsecbg.webp')"
  >
    <!-- class="bg-gradient-to-r from-blue-200 via-sky-100 to-purple-200" -->
    <Navbar client:only="svelte" />
    <Intro />
    <div
      class="lg:container lg:mx-auto rounded-lg bg-base-100 bg-opacity-80 backdrop-blur-md"
    >
      <Slides />
      <!-- <Qsc /> -->
      <Alerts />
      <!-- <Cheri client:load/> -->
      <Cards client:only="svelte" />

      <!-- <SSRCards /> -->
      <!-- SSR Astro -->
      <!-- <Blogs /> -->
    </div>
    <Btm client:only/>
    <!-- <Apitest/> -->
    <Shopinfo client:only="svelte" />
    <Btncf client:only="svelte" />
  </main>


</html>
