---
const personPromise = fetch("http://127.0.0.1:3005/shopitems")
  .then((response) => response.json())
  .then((arr) => arr[0].name);
const factPromise = fetch("http://127.0.0.1:3005/shopitems")
  .then((response) => response.json())
  .then((factData) => factData[0].description);
---

<html>
  <head>
    <title>A name and a description</title>
  </head>
  <body>
    <div class="bg-white">Shopitems</div>
    <h2>A name</h2>
    <p>{personPromise}</p>
    <h2>A fact</h2>
    <p>{factPromise}</p>
  </body>
</html>
