---
let speaker = "images/icons/speaker.webp";
---

<div class="alert mt-2">
  <!-- <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    class="stroke-current shrink-0 w-6 h-6"
    ><path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg
  > -->
  <div class="indicator">
    <img
      class="animate animate-wiggle"
      src={speaker}
      alt="แตร๊นนนนนนนนนน~~~~~~~"
      width="64"
      height="64"
    />
    <span
      id="carditems"
      class="indicator-item indicator-bottom indicator-center badge badge-secondary text-lg font-medium"
      >ประกาศ</span
    >
  </div>
  <div class="text-2xl w-full">
    <marquee
      >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi, ipsam!</marquee
    >
  </div>
</div>
<!-- <div class="hidden grid xl:grid-flow-col sm:grid-cols-2 md:grid-cols-3 grid-cols-1">
  <div>
    <img src="https://via.placeholder.com/500x250" alt="รูปภาพ" class="mx-auto" />
  </div>
  <div>
    <img src="https://via.placeholder.com/500x250" alt="รูปภาพ" class="mx-auto" />
  </div>
  <div>
    <img src="https://via.placeholder.com/500x250" alt="รูปภาพ" class="mx-auto" />
  </div>
</div> -->
