---
import Profile from "../components/profileinfo.svelte";
import Fastmenu from "../components/fastmenu.svelte";
let logoimg = "images/dpchan.webp";

let cookieimg = "images/Cookie.webp";
let terms = Astro.cookies.get("terms")?.value;

// let terms = Astro.cookies.get("terms").value;
// let terms = false;
---

<script>
  import { setCookie, getCookie, clearCookie } from "../services/cookies.js";

  const buttons = document.querySelectorAll("button.cookie");
  var divElement = document.getElementById("cookie-div");

  // Handle clicks on each button.
  buttons.forEach((button) => {
    button.addEventListener("click", () => {
      setCookie("terms", "true", 1);
      divElement!.innerHTML = "";
    });
  });
</script>
<div class="mt-5"></div>
<div class="sticky btm-nav md:hidden z-50">
  <button title="คลิก" class="active">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-5 w-5"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      onclick="window.l
            ochref=('/')"
              ><path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
      ></path></svg
    >
  </button>

  <button title="คลิก">
    <!-- <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z" /></svg> -->
    <Profile mobile="true" client:only="svelte" />
  </button>
  <button title="คลิก">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-5 w-5"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      ><path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
      ></path></svg
    >
  </button>
</div>
<footer class="footer p-10 bg-neutral text-neutral-content pb-16">
  <div>
    <div class="avatar">
      <div class="w-36 rounded-full">
        <img src={logoimg} alt="" />
      </div>
    </div>
    <p>Copyright © 2023 - All right reserved</p>
    <b class="text-cyan-200">Dolphine</b>
    <p>
      <i class="fa-solid fa-server"></i> The Dolphine are raised by AMD™ Ryzen
    </p>
  </div>
  <div>
    <span class="footer-title">ติดตามเราได้ที่</span>
    <div class="grid grid-flow-col gap-4">
      <a href="https://discord.gg/Arv42TQvGk" aria-label="ดิส"
        ><i class="fa-brands fa-discord fa-2xl"></i></a
      >
      <a href="#"><i class="fa-brands fa-youtube fa-2xl"></i></a>
      <a href="#"><i class="fa-brands fa-facebook fa-2xl"></i></a>
    </div>
  </div>
  <div>
    <iframe
      class="rounded-xl"
      title="ดิสคอร์ด"
      src="https://discord.com/widget?id=1144129073967276042&theme=dark"
      height="350"
      sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"
    ></iframe>
  </div>
</footer>

<!-- <Fastmenu client:media="(max-width: 480px)" /> -->
<Fastmenu client:only="svelte" />

{
  !terms ? (
    <span id="cookie-div">
      <div class="alert fixed bottom-24 md:bottom-0 left-0">
        <img src={cookieimg} alt="Cookie" width="32" height="32" />
        <span>ขอคุกกี้หน่อยจ้า</span>
        <div>
          <button class="cookie btn btn-sm btn-primary">เครเอาไป</button>
          <button class="btn btn-sm btn-netural">ไม่ให้</button>
        </div>
      </div>
    </span>
  ) : (
    <span />
    // <div class="alert sticky bottom-28 md:bottom-0">
    //   <svg
    //     xmlns="http://www.w3.org/2000/svg"
    //     fill="none"
    //     viewBox="0 0 24 24"
    //     class="stroke-info shrink-0 w-6 h-6"
    //   >
    //     <path
    //       stroke-linecap="round"
    //       stroke-linejoin="round"
    //       stroke-width="2"
    //       d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
    //     />
    //   </svg>
    //   <span>{terms}</span>
    //   <div>
    //     <button class="btn btn-sm">Clear Cookie</button>
    //   </div>
    // </div>
  )
}
