---
let logoimg = "images/dpchan.webp";
// const raw = "";

const raw = await fetch(
  "https://api.mcstatus.io/status/java/dolphine.servegame.com"
).then((response) => response.json());
---

<div class="hero min-h-[100dvh] bg-[url('/images/Introbg.webp')]">
  <div class="hero-overlay"></div>
  <div class="w-full h-full"></div>

  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <div class="flex justify-center mb-3">
        <a href="dolphine" class="hover:scale-110 transition duration-700">
          <img
            width="208"
            height="208"
            src={logoimg}
            alt="คลิกๆ"
            class="img-fluid w-52 rounded-full border-4"
          /></a
        >
      </div>
      <div class="join">
        {
          raw.online ? (
            <div class="indicator">
              <span class="indicator-item badge badge-secondary">
                {raw.players.online <= 0 ? (
                  <p>ออนไลน์</p>
                ) : (
                  <p>ออนไลน์ {raw.players.online} ผู้เล่น</p>
                )}
              </span>
              <div class="grid place-items-center">
                <p class="mb-5 text-5xl font-bold text-white">Dolphine</p>
              </div>
            </div>
          ) : (
            <div class="indicator">
              <span class="indicator-item badge badge-secondary">ออฟไลน์</span>
              <div class="grid place-items-center">
                <p class="mb-5 text-5xl font-bold text-white">Dolphine</p>
              </div>
            </div>
          )
        }
      </div>

      <!-- <p class="mb-5 text-sky-200">
        Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
        excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a
        id nisi.
      </p> -->
      <br />
      <a class="btn btn-base-300 text-xl font-medium" href="#carditems"
        >เลือกดูสินค้า</a
      >
    </div>
  </div>
</div>
