---
const img = 'https://via.placeholder.com/300x300';
---
<div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-8 bg-base-200 light:bg-zinc-200 rounded-3xl">
    <div class="p-3 d-flex hover:scale-110 overflow-x-hidden hover:overflow-visible">
        <div class="card text-center">
            <img class="mask mask-hexagon " src={img} />
        <p class="text-3xl antialiased font-bold text-clip animate-marquee whitespace-nowrap">TestTsfsfsestTest</p>
        </div>
    </div>
    <div class="p-3 d-flex hover:scale-110 overflow-x-hidden hover:overflow-visible">
        <div class="card text-center">
            <img class="mask mask-hexagon" src={img} />
        <p class="text-3xl antialiased font-bold text-clip animate-marquee whitespace-nowrap">TestTsfsfsestTest</p>
        </div>
    </div>
</div>
