---
const img = 'https://via.placeholder.com/300x300';
import Quickmenu from '../components/Quickmenu.astro';

const data = [
  { id:1,title: 'Pikachu',href: 1,description:"ละเอียดยิบ" },
  { id:2,title: 'Charizard',href: 12,description:"ละเอียดยิบ2" },
  { id:3,title: 'Bulbasaur',href: 22,description:"ละเอียดยิบ3" },
  { id:3,title: 'Test',href: 22,description:"ละเอียดยิบ" },
  { id:3,title: 'Test1aaa',href: 22,description:"ละเอียดยิบ" },
  { id:3,title: 'Test1aaa',href: 22,description:"ละเอียดยิบ" },
  { id:3,title: 'Test1aaa',href: 22,description:"ละเอียดยิบ" },
  { id:3,title: 'Test1aaa',href: 22,description:"ละเอียดยิบ" },
  { id:3,title: 'Test1aaa',href: 22,description:"ละเอียดยิบ" },
  { id:3,title: 'Test1aaa',href: 22,description:"ละเอียดยิบ" },
  { id:3,title: 'Test1aaa',href: 22,description:"ละเอียดยิบ" },
  { id:3,title: 'Test1aaa',href: 22,description:"ละเอียดยิบ" },
];
---



<div id="quickmenu-slides" class="keen-slider">
      <!-- Slides -->
      {data.map((data) => 
        <Quickmenu
        id={data.id.toString()},
         title={data.title},
         href={img},
         />
      )}
  </div>
  <script>
    import 'keen-slider/keen-slider.min.css'
  import KeenSlider from 'keen-slider'
  
  var slider = new KeenSlider("#quickmenu-slides", {
    breakpoints: {
            "(min-width: 320px)": {
              slides: { perView: 2 },
            },
            "(min-width: 640px)": {
              slides: { perView: 3, spacing: 20 },
            },
            "(min-width: 768px)": {
              slides: { perView: 4, spacing: 20 },
            },
            "(min-width: 1000px)": {
              slides: { perView: 6, spacing: 15 },
            },
          },
          slides: {
            perView: 1,
            spacing: 15,
          },
        })
  
  </script>