---
const imgmockup = "https://via.placeholder.com/1020x450";

const sideimg = "images/Sliders/ComingSoon_S.webp";
//https://via.placeholder.com/500x220
---

<div class="grid grid-cols-1 lg:grid-cols-3">
  <div class="col-span-2">
    <div id="top-slides" class="keen-slider">
      <!-- Slides -->
      <div class="keen-slider__slide">
        <img src={imgmockup} alt="แนะนำ" />
      </div>
      <div class="keen-slider__slide">
        <img src={imgmockup} alt="แนะนำ" />
      </div>
    </div>
  </div>
  <div class="grid lg:grid-cols-1 grid-cols-2 mt-1 md:mx-1 gap-1">
    <img src={sideimg} alt="แนะนำ" />
    <img src={sideimg} alt="แนะนำ" />
  </div>
</div>

<script>
  import "keen-slider/keen-slider.min.css";
  import KeenSlider from "keen-slider";

  var slider = new KeenSlider("#top-slides", {
    slides: {
      perView: 1,
    },
  });
</script>
